.head{
    width: auto;
    background-color: #9ea1a1;
    height: 50px;
}
body{
    background-color: rgba(230, 227, 227, 0.904);
    background-image: url('C:/Users/labcaxias/Desktop/PedroCosta/Imagens/back.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.op{
    display: inline-block;
    background-color: #fafafa;
    width: 200px;
    height: 175px;
    margin: 20px;
    border: 1px solid white;
}
.opitions{
    margin: 0 auto;
    margin-top: 120px;
    background-color: black;
    width: 490px;
}
#mapa{
    background-image: url('C:/Users/labcaxias/Desktop/PedroCosta/Imagens/mapa_hallownesrt.webp');
    background-size: cover;
}

h1{
    color: white;
    position:relative;
    top: 64%;
    left: 10%;
}
#bosses{
    background-image: url('C:/Users/labcaxias/Desktop/PedroCosta/Imagens/bosses.avif');
    background-size: cover;
}